/*
    home.css: This website contains selectors only used in home.css

    All pages share the styles on index.css but you should create 
    one more css for each page that will contain the selected used 
    on that page only (the ones not reused in other pages).
*/

body{
    color:#074040;
}

.page-title{
    font-size: 3rem !important;
}

/* Buttons*/
.btn{
    border-radius: 4.5rem;
    font-weight:600;
}


.btn-primary {
    color: #074040;
    background-color: #F2E641;
    border-color: #F2E641;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {   
    color: #074040;
    background-color: #b7d2f8;
    border-color: #b7d2f8;
}

.btn-secondary {
    color: #074040;
    background-color: #b7d2f8;
    border-color: #b7d2f8;
}

.btn-secondary:hover, .btn-secondary:active, .btn-secondary:focus {   
    color: #074040;
    background-color: #F2E641;
    border-color: #F2E641;
}

.btn-form{
    border-radius: 0.25rem;
    padding: 10px;
}

.btn-action{
    max-height: 3rem;
    border-radius: 0.25rem;
}


/* Links */
a{
color:#639ff4;
}

a:hover, a:active, a:focus { 
    color:#074040;
  }

/* Pages */
.page-container{
    padding-bottom: 150px !important;

}

/*form*/
.form-control{
    padding:9px;
}

.border-dark {
    border-color: #074040!important;
}

/*card*/
.card-body {
    border: 1px solid  #032121;
}

/* Navbar*/
    .header-container{
        background-color: #032121;
        /* background-color: red; */

    }

    /* .transparent-bg {
        background-color: transparent;
      } */

    a .brand-name{
        color:#b7d2f8;
        
    }

    .nav-link{
        color:#b7d2f8;
    }

    .nav-link:hover, .nav-link:active, .nav-link:focus{
        color:#EDF252;
    }

    .dropdown-item{
        color:#032121;
    }

    .dropdown-menu.show{
        border-radius: 0.5rem;
        border:1px solid #032121;
    }




/*Section Hero banner*/
.hero-banner{
    padding-top: 6rem!important; 
    margin-top: 0rem!important;
    height:85vh;
    background-color: #032121;
}

.hero-banner h1{
    font-size: 13rem;
    color: #b7d2f8;
}

.hero-banner p{
    color: #b7d2f8;
    font-size:24px;
    font-weight: 300;
}

/*Section registra ong */
.section-ong{
    color: #074040;
    background-color: #b7d2f8;
    padding: 8rem!important;
}

.section-ong li{
    padding: 0.25rem 0rem;
    font-size: 18px;
}

.section-ong .btn:hover, .btn:active, .btn:focus{
    border-color: #074040;
}


/*Section Registra Voluntario*/
.section-voluntario{
    padding: 9rem!important;
}
.section-voluntario h1{
    font-size: 6rem;
}

.section-voluntario p{
    font-size: 18px;
}

.btn-voluntario{
    color: #032121;
    background-color: white;
    border-color: #032121;
}

.btn-voluntario:active, .btn-voluntario:hover, .btn-voluntario:focus {
    color: white;
    background-color: #074040;
    border-color: #032121;
} 


/* Modal */
.modal-content{
  border: 1px solid  #032121;
}

.modal-header{
    border-bottom: 1px solid  #032121;
}

.modal-footer{
    border-top: none;
}

/* Footer */
.footer{
    background-color: #032121;
    /* position: absolute;
    bottom: 0;
    width: 100%; */
}
.footer p{
   color: #b7d2f8;
}


